<section>
  <a download="car" href="../assets/car.jpg">Download Demo Image Here</a>
</section>

<section class="drop-zone" *ngIf="!base64Image">
  <ngx-dropzone (change)="onSelect($event)" [accept]="'image/jpeg,image/jpg,image/png'">
    <ngx-dropzone-label>Drag and Drop Your Logo Here!</ngx-dropzone-label>
  </ngx-dropzone>
</section>


<div id="container" *ngIf="base64Image">
  <div dSizer id="img-cont" (positionChange)="onDrag($event)" (sizeChanged)="onResize($event)">
    <span class="close" (click)="onRemove()">&times;</span>
     <img [src]="base64Image"  alt="logo" />
    </div>
  </div>


